/* Classification View Styles */

.inv-container {
    padding: 1.25rem .625rem;
    margin-bottom: 1.5rem;
}

.inv-container a {
    color: var(--dark-blue);
}

.inv-container a:hover {
    color: var(--light-blue);
}

.inv-display a {
    color: var(--dark-blue);
}

.inv-display a:hover {
    color: var(--blue);
}

.inv-display {
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.inv-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
    padding: .75rem;
    margin: 1rem auto 1rem auto;
    text-align: center;
    width: 100%;
}

.inv-item img {
    display: block;
    border-radius: .25rem;
    max-width: 100%;
}

.inv-price {
    font-size: 1.05rem;
    color: var(--dark-grey);
}

/* Vehicle Details View Styles */

.vehicle-details {
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.vehicle-hero {
    width: 100%;
}

.vehicle-hero img {
    display: block;
    border-radius: .25rem;
    max-width: 100%;
}

.vehicle-info {
    font-size: .9rem;
    margin-top: 1.5rem;
}

.vehicle-info p {
    padding: 1rem;
    color: var(--dark-grey);
    border: .05rem solid var(--dark-blue);
    border-radius: .25rem;
    background-color: var(--light-blue);
}

.inv-form input[type=text],
.inv-form input[type=number],
.inv-form input[type=submit],
.inv-form textarea,
.inv-form select {
    border-radius: .25rem;
    padding: .35rem;
    width: 100%;
}

.inv-form input[type=text],
.inv-form input[type=number],
.inv-form textarea,
.inv-form select {
    border: .05rem solid var(--dark-blue);
    margin-top: .25rem;
    margin-bottom: .5rem;
}

.inv-form textarea {
    height: 10rem;
}

.inv-form input[type=submit] {
    background-color: var(--dark-blue);
    border: transparent;
    color: var(--white);
    font-size: 1rem;
}

.inv-form input[type=submit]:hover {
    cursor: pointer;
    color: var(--dark-grey);
    background-color: var(--light-blue);
}

.inv-form input:required:invalid {
    color: var(--std-red);
}

@media screen and (min-width: 48rem) {

    .inv-container {
        font-size: .75rem;
    }

    /* Classification View Styles */

    .inv-display {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        max-width: 100%;
    }

    .inv-item {
        width: 80%;
    }

    .inv-item h2 {
        font-size: 1rem;
    }

    /* Vehicle Details View Styles */

    .vehicle-hero {
        grid-area: vehicle-hero;
    }

    .vehicle-info {
        margin-left: 2rem;
        margin-top: 0;
        grid-area: vehicle-info;
    }

    .detail-title {
        grid-area: detail-title;
    }

    .vehicle-details {
        display: grid;
        grid-template-areas:
            'detail-title detail-title'
            'vehicle-hero vehicle-info';
    }

    .inv-form input[type=text],
    .inv-form input[type=number],
    .inv-form textarea,
    .inv-form select {
        width: 14rem;
    }    

    .inv-form input[type=submit] {
        font-size: .85rem;
        max-width: 8rem;
    }
}