/* Classification View Styles */

.inv-container {
    padding: 1.25rem .625rem;
    margin-bottom: 1.5rem;
}

.inv-container a {
    color: var(--dark-blue);
}

.inv-container a:hover {
    color: var(--light-blue);
}

.inv-display a {
    color: var(--dark-blue);
}

.inv-display a:hover {
    color: var(--blue);
}

.inv-display {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.inv-list li {
    margin-bottom: .75rem;
}

.inv-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
    padding: .75rem;
    margin: 1rem auto 1rem auto;
    text-align: center;
    width: 100%;
}

.inv-item img {
    display: block;
    border-radius: .25rem;
    max-width: 100%;
}

.inv-price {
    font-size: 1.05rem;
    color: var(--dark-grey);
}

/* Vehicle Details View Styles */

.vehicle-details {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.vehicle-details li {
    font-size: .9rem;
}

.vehicle-hero {
    width: 100%;
}

.vehicle-hero img {
    display: block;
    border-radius: .25rem;
    width: 100%;
    height: auto;
}

.vehicle-info {
    font-size: .9rem;
    margin-top: 1.5rem;
}

.vehicle-info p {
    padding: 1rem;
    color: var(--dark-grey);
    border: .05rem solid var(--dark-blue);
    border-radius: .25rem;
    background-color: var(--light-blue);
}

.comment-section {
    background-color: var(--light-grey);
    padding: .5rem;
    border-radius: .25rem;
    margin-bottom: 2rem;
}

.comment-section textarea {
    border-radius: .25rem;
    border: .05rem solid var(--dark-blue);
    margin-top: .25rem;
    margin-bottom: .5rem;
    padding: .35rem;
    width: 100%;
    height: 5rem;
}

.comment-section #addComment {
    border-radius: .25rem;
    padding: .35rem;
    width: 100%;
    background-color: var(--dark-blue);
    border: transparent;
    color: var(--white);
    font-size: 1rem;
}

.comment-section #addComment:hover {
    cursor: pointer;
    color: var(--dark-grey);
    background-color: var(--light-blue);
}

.no-comment {
    color: var(--dark-blue);
}

.user-comment {
    margin-top: .5rem;
    background-color: var(--light-blue);
    border-radius: .25rem;
    padding: .5rem;
}

.user-comment textarea {
    max-width: 100% !important;
}

.user-comment textarea:read-only {
    background-color: var(--light-grey);
}

.user-comment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-comment-header p {
    color: var(--dark-grey);
    font-size: .8rem;
}

.user-comment-header img {
    cursor: pointer;
    display: block;
    width: 1.25rem;
    height: 1.5rem;
}

.user-comment-buttons button {
    cursor: pointer;
    margin-right: .5rem;
    border-radius: .25rem;
    font-size: .85rem;
    padding: .35rem;
    background-color: var(--dark-blue);
    border: transparent;
    color: var(--white);
}

.user-comment-buttons button[disabled=disabled],
.user-comment-buttons button:disabled {
    background-color: var(--dark-grey);
    color: var(--white);
}

.comment-dates {
    text-align: right;
    font-size: .65rem;
}

/* Vehicle Forms Styles */

.inv-form input[type=text],
.inv-form input[type=number],
.inv-form input[type=submit],
.inv-form textarea,
.inv-form select {
    border-radius: .25rem;
    padding: .35rem;
    width: 100%;
}

.inv-form input[type=text],
.inv-form input[type=number],
.inv-form textarea,
.inv-form select {
    border: .05rem solid var(--dark-blue);
    margin-top: .25rem;
    margin-bottom: .5rem;
}

.inv-form input[type=file] {
    display: none;
}

.inv-form .custom-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    padding: .35rem;
    width: 100%;
    background-color: var(--light-grey);
    border: .05rem solid var(--dark-blue);
    margin-top: .25rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    cursor: pointer;
}

.inv-form .custom-upload:hover {
    cursor: pointer;
    color: var(--dark-grey);
    background-color: var(--light-blue);
}

.inv-form .custom-upload img {
    display: inline-block;
    width: 1.5rem;
    margin-right: .5rem;
}

.inv-form select {
    overflow: auto;
}

.inv-form .image-preview img {
    display: block;
    width: 100%;
    max-height: 20rem;
    border-radius: .25rem;
}

.inv-form textarea {
    height: 10rem;
}

.inv-form input[type=submit] {
    background-color: var(--dark-blue);
    border: transparent;
    color: var(--white);
    font-size: 1rem;
}

.inv-form input[type=submit]:hover {
    cursor: pointer;
    color: var(--dark-grey);
    background-color: var(--light-blue);
}

.inv-form input:required:invalid {
    color: var(--std-red);
}

.inv-form input[type=submit]:disabled {
    background-color: var(--dark-grey);
    color: var(--white);
}

.inv-form input[type=text]:read-only,
.inv-form input[type=number]:read-only {
    background-color: var(--light-grey);
}

#inventoryDisplay {
    margin-top: 1rem;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: .05rem solid var(--dark-blue);
}

.vehicle-selection select {
    border-radius: .25rem;
    padding: .1rem;
    border: .05rem solid var(--dark-blue);
    margin-left: .25rem;
    overflow: auto;
}

.vehicle-selection select option[value="0"] {
    display: none;
}

.vehicle-selection {
    margin-top: 1.5rem;
}

.responsive-table {
    overflow-x: auto;
}

#inventoryDisplay th,
#inventoryDisplay td {
    text-align: left;
    padding: 1rem;
}

#inventoryDisplay thead {
    background-color: var(--light-blue);
}

#inventoryDisplay tr:nth-child(even) {
    background-color: var(--light-grey);
}

.vehicle-gallery {
    border-radius: .25rem;    
    position: relative;
}

.vehicle-gallery img {
    border-radius: .25rem;
    vertical-align: middle;
    width: 100%;
}

.vehicle-slides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {    
    position: absolute;
    top: 40%;
    width: auto;
    padding: 1rem;
    margin-top: -3.125rem;
    color: var(--white);
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 0 .25rem .25rem 0;
    background-color: rgba(0, 0, 0, 0.8);
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: .25rem 0 0 .25rem;
}

.prev:hover,
.next:hover {
    color: var(--dark-blue);
    background-color: rgb(181, 199, 227, 0.9);
}

.number-text {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 0.75rem;
    padding: .5rem 0.75rem;
    border-radius: .25rem;
    position: absolute;
    top: 0;

}

.dot {
    opacity: 0.4;
}

.active,
.dot:hover {
    opacity: 1;
}

.gallery-row {
    max-width: 100%
}

.column {
    float: left;
    width: 25%;
}

.gallery-row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width: 48rem) {

    .inv-container {
        font-size: .75rem;
    }

    /* Classification View Styles */

    .inv-display {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        max-width: 100%;
    }

    .inv-item {
        width: 80%;
    }

    .inv-item h2 {
        font-size: 1rem;
    }

    /* Vehicle Details View Styles */

    .vehicle-info {
        margin-left: 2rem;
        margin-top: 0;
    }

    .vehicle-details {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .inv-form input[type=text],
    .inv-form input[type=number],
    .inv-form .custom-upload,
    .inv-form textarea,
    .inv-form select {
        width: 14rem;
    }

    .inv-form .custom-upload {
        justify-content: normal;
        font-size: .75rem;
    }

    .inv-form input[type=submit] {
        font-size: .85rem;
        max-width: 8rem;
    }

    .inv-form .image-preview img {
        width: 14rem;
    }

    #inventoryDisplay {
        max-width: 28rem;
    }

    .comment-section textarea {
        height: 2.5rem;
        max-width: 50%;
    }

    .user-comment {
        max-width: 50%;
    }

    .comment-section #addComment {
        font-size: .85rem;
        max-width: 8rem;
    }

    .user-comment-buttons button {
        font-size: .75rem;
    }

    .user-comment-buttons {
        display: block;
    }

    .comment-dates {
        display: block;
    }

    .user-comment-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
}