<div class="error-container">
    <h1><%- title %></h1>
    <div class="error-hero">
        <p>We found a problem, Marty!</p>        
        <span class="error"><%- message %></span>
        <br>
        <img src="/images/site/404-hero.png" alt="404-hero">        
    </div>
    <br>
    <div class="error-caption">                
        <a href="/">Back to Home</a>
    </div>
</div>